@charset "utf-8";

/**** Start App ****/
.app {
    display: flex;
    height: 100vh;
}

/**** Start Side Content ****/
.side-content {
    width: 300px;
    background: #15150f;
    color: #fff;
}

@media all and (min-height: 700px) {
    .side-content {
        width: 400px;
    }
}

.side-content .logo {
    background-image: url('./imgs/bookPage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
}

@media all and (min-height: 700px) {
    .side-content .logo {
        height: 200px;
    }
}

.side-content .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(78, 164, 141, 0.9);
}

.side-content .logo h1 {
    font-size: 1.8rem;
    letter-spacing: 3px;
}

.side-content .menu {
    padding: 25px 0 25px 20px;
}

.side-content .menu h3 {
    font-size: 0.85rem;
    margin-bottom: 15px;
    color: #5c5c5a;
}

.side-content .menu ul {
    margin: 0 0 15px;
}

.side-content .menu ul li {
    display: flex;
}

.side-content .menu ul li a {
    padding: 10px 0 15px 5px;
    width: 100%;
    border-left: 6px solid transparent;
    color: #fff;
}

.side-content .menu ul a:hover,
.side-content .menu ul .current {
    background-color: #fff;
    border-left: 6px solid #4ea48d;
    color: #15150f;
    transition: all 0.25s;
}

/**** Start Main Content ****/
.main-content {
    width: 100%;
    padding: 30px;
    overflow: hidden;
    overflow-y: scroll;
}

.main-content h2 {
    color: #323d3a;
    font-weight: 200;
    letter-spacing: 1px;
    margin-bottom: 30px;
    padding-left: 5px;
}

.main-content h2:after {
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background-color: #4ea48d;
    margin: 7px 0 0;
}

/**** Start Search ****/
.main-content .searchHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.main-content .searchHeader h2 {
    margin: 0;
}

.main-content .searchHeader input {
    border: 0;
    border-bottom: 1px solid #b6b6b6;
    color: #888;
    font-size: 0.95rem;
    padding: 5px 0;
}

.main-content .searchHeader input:focus {
    outline: none;
}

/**** Start Bookshelf ****/
.main-content .bookShelf {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 40px;
}

/**** Start Book ****/
.main-content .bookShelf .book {
    width: 145px;
    margin: 0 10px 22px;
    overflow: hidden;
    animation: fadeInUp 1s;
}

@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translate3d(0, 5%, 0);
    }

    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
}

.main-content .bookShelf .book .book-top {
    position: relative;
}

.main-content .bookShelf .book .book-top .book-cover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    width: 135px;
    height: 195px;
    background-size: cover;
    background-repeat: no-repeat
}

.main-content .bookShelf .book .book-top .book-shelf-changer {
    position: absolute;
    right: 0;
    bottom: -10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #4ea48d;
    background-image: url(./icons/arrow-drop-down.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.main-content .bookShelf .book .book-top .book-shelf-changer:hover {
    background: #56af97;
    background-image: url(./icons/arrow-drop-down.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35px;
}

.main-content .bookShelf .book .book-top .book-shelf-changer select {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.main-content .bookShelf .book .book-title {
    font-size: 0.8em;
    margin: 12px 0 3px;
    color: #333;
}

.main-content .bookShelf .book .book-authors {
    font-size: 0.75em;
    color: #666;
    margin-bottom: 3px;
}

/**** Start Message ****/
.main-content .bookShelf .empty {
    font-size: 1em;
    color: #555;
    text-align: center;
    width: 100%;
    margin: 50px 0 0;
}

.main-content .bookShelf .empty:last-of-type {
    font-size: 0.9em;
    color: #777;
    text-align: center;
    width: 100%;
    margin: 20px 0 0;
}

.main-content .bookShelf .empty:last-of-type a {
    color: #4ea48d;
    font-weight: bold;
    text-decoration: underline;
}

.main-content .bookShelf .warning {
    background-color: #ffecec;
    width: 100%;
    margin: 0 0 20px;
    padding: 20px;
    font-size: 0.9rem;
    color: #444;
}

.main-content .bookShelf .suggestions {
    background-color: #eff8fa;
    width: 100%;
    margin: 0 0 20px;
    padding: 20px;
    font-size: 0.9rem;
    color: #444;
}

.main-content .bookShelf .suggestions ul {
    list-style: disc;
    padding: 15px 0 0 40px;
}

.main-content .bookShelf .suggestions ul li {
    margin: 0 0 5px;
}

/**** Start Loader ****/
.main-content .loader {
    position: fixed;
    left: 0;
    background-color: rgba(255, 255, 255, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.main-content .loader .spinner {
    animation: rotate 2s linear infinite;
    width: 70px;
    height: 70px;
}

.main-content .loader .spinner .path {
    stroke: #4ea48d;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}
